<div class="card small ">
  <div class="card-block p-2">
    <span class="card-title font-weight-bold">Recently Accessed Clients and Groups</span>
    
    <div class="container">
    <div class="row bottom-border py-1 my-2">
      <div class="col-1">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="col-8">
        <a href="" class="">Ron Smith</a>
      </div>
    </div>
    <div class="row bottom-border py-1 my-2">
        <div class="col-1">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="col-8">
          <a href="" class="">Jesuit High School</a>
        </div>
      </div>
      <div class="row bottom-border py-1 my-2">
          <div class="col-1">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="col-8">
            <a href="" class="">Ron Smith</a>
          </div>
        </div>
  </div>
  </div>
</div>